@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

        @*@using (Ajax.BeginForm("_SearchIndex", "Movies", new AjaxOptions(){UpdateTargetId = "MoviesDiv"})){    *@
        @using (Ajax.BeginForm("Submit", "Movies", new AjaxOptions() {HttpMethod  = "GET", UpdateTargetId = "MoviesDiv" }))
        { 
            <p> Title: @Html.TextBox("SearchString")<br />  
            <input type="submit" value="Filter" /></p> 
        }


     <div id="MoviesDiv">
        @Html.Partial("_SearchIndex", Model)
    </div>
